* text=auto eol=lf

# Tidak ikut terpasang lewat "composer require".
/.github            export-ignore
/tests              export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phpunit.xml.dist   export-ignore
